<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | breadfan.xyz</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <div class="flex-container" id="top">
        <div>1</div>
    </div>
    <div class="flex-container" id="header">
        <div>Header</div>
    </div>
    <div class="flex-container" id="nav">
        <div>Link 1</div>
        <div>Link 2</div>
        <div>Link 3</div>
    </div>
    <div class="flex-container" id="content">
        <div>Main Content</div>
    </div>
    <div class="flex-container" id="footer">
        <div>Footer</div>
    </div>
</body>
</html>